body{
    background:yellow;
}
h2{
    color:purple;
    font-size:25px;
    background:bisque;
}
#identyfikator{
    color:maroon;
}
.klasa{
    color:aliceblue;
}
p,div{
    color:red;
}
li>a{
    color:gray;
}
